<%= form_with(model: post, local: true) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= form.label :本文 %>
    <%= form.text_area :content, id: "js-count",rows: 10, cols: 100 %>

    <div class="counter">
          <span class="show-count">0</span>文字
    </div>

    <div class="field_img">
        <%= form.label :画像%>
        <%= form.file_field :img%>
    </div>

  </div>


  <div class="actions">
    <%= form.submit :投稿%>
  </div>
<% end %>
