<p id="notice"><%= notice %></p>
<div class="posts-show-item">
<%= @post.content %>

  <% if Like.find_by(user_id: current_user.id, post_id: @post.id) %>
    <%= link_to(destroy_likes_path(@post.id),{method: "post"})do%>
    <i class="fas fa-heart unlike-btn"></i>
    <%end%>
      <% else %>
        <%= link_to(create_likes_path(@post.id),{method: "post"})do%>
        <i class="fas fa-heart like-btn"></i>
    <%end%>
  <%end%>
  <%=@likes_count%>

<%= link_to 'Edit', edit_post_path(@post) %>
<%= link_to 'Back', posts_path %>
